<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.rtl.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>فروشگاه نیک کالا | صفحه اصلی</title>
</head>

<body>

  <div class="d-none d-lg-block top-ads">
    <!-- start top ads -->
    <a href="#" target="_blank"><img src="/images/top-ads.jpg"></a>
  </div><!-- end top ads -->

  <header class="w-100 d-none d-lg-block bg-white">
    <!-- start header -->
    <div class="container">
      <div class="row py-2">
        <div class="col-lg-2"><img src="/images/logo.png" alt="Nikkala"></div><!-- logo -->
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <!-- start search box -->
          <div class="input-group search-box">
            <input type="search" class="form-control form-control-lg" placeholder="جستجو در نیک کالا">
            <button type="submit" class="btn btn-danger"><img src="/images/search.png"></button>
          </div>
        </div><!-- end search box -->
        <div class="col-lg-3 d-flex align-items-center justify-content-end px-0">
          <!-- start signup & login -->
          <div class="dropdown">
            <%- include("./partials/userStatus.ejs")%>
          </div>
        </div><!-- end signup & login -->
        <div class="col-lg-1 d-flex align-items-center justify-content-center px-0">
          <!-- start shopping cart -->
          <a href="/shopping/cart" class="position-relative">
            <img src="/images/cart.png">
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart">
            <!-- start shopping cart offcanvas -->

            <div class="offcanvas-header">
              <!-- start offcanvas header -->
              <p class="offcanvas-title font-12">سبد خرید (4 کالا)</p>
              <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
            </div><!-- end offcanvas header -->

            <div class="offcanvas-body">
              <!-- start cart body -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile1.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile2.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile3.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

            </div><!-- end cart body -->

            <div class="row cart-footer">
              <!-- start cart footer-->
              <div class="col-5">
                <p>مبلغ قابل پرداخت:</p>
                <p>12,480,000 تومان</p>
              </div>
              <div class="col-7">
                <a href="/auth/login" class="btn btn-info font-13 btn-lg ms-4">ورود و ثبت سفارش</a>
              </div>
            </div><!-- end cart footer-->

          </div><!-- end shopping cart offcanvas -->
        </div><!-- end shopping cart -->
      </div>
    </div>
  </header><!-- end header -->

  <header class="d-lg-none bg-white w-100">
    <!-- start responsive header-->
    <div class="container">
      <div class="row py-2">

        <div class="col-7">
          <a href="#mobile-menu" data-bs-toggle="offcanvas"><i class="fa fa-bars mobile-menu-icon"></i></a><!-- mobile menu icon -->
          <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="mobile-menu">
            <!-- start mobile menu-->

            <div class="offcanvas-header">
              <!-- start menu header -->
              <img src="/images/logo.png">
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div><!-- end menu header -->

            <div class="offcanvas-body px-0">

              <div class="input-group search-box px-3">
                <!-- start search box -->
                <input type="search" class="form-control form-control-lg" placeholder="جستجو در نیک کالا">
                <button type="submit" class="btn btn-danger"><img src="/images/search.png"></button>
              </div><!-- end search box -->

              <ul class="mobile-menu-level-1">
                <!-- start mobile menu level 1 -->
                <li class="has-mobile-submenu"><a href="#">دسته بندی محصولات</a>

                  <ul class="mobile-menu-level-2">
                    <!-- start mobile menu level 2 -->
                    <li class="has-mobile-submenu-2"><a href="#">کالای دیجیتال</a>

                      <ul class="mobile-menu-level-3">
                        <!-- start mobile menu level 3 -->
                        <li><a href="/search">گوشی موبایل</a></li>
                        <li><a href="/search">لوازم جانبی گوشی</a></li>
                        <li><a href="/search">تبلت</a></li>
                        <li><a href="/search">دوربین عکاسی</a></li>
                      </ul><!-- start mobile menu level 3 -->

                    </li>
                    <li><a href="/search">زیبایی و سلامت</a></li>
                    <li><a href="/search">مد و پوشاک</a></li>
                    <li><a href="/search">خانه و آشپزخانه</a></li>
                    <li><a href="/search">کتاب و لوازم تحریر</a></li>
                  </ul><!-- end mobile menu level 2 -->

                </li>
                <li><a href="#">تخفیف‌ها و پیشنهادها</a></li>
                <li class="has-mobile-submenu"><a href="#">صفحات</a>

                  <ul class="mobile-menu-level-2">
                    <!-- start mobile menu level 2 -->
                    <li><a href="/auth/register">ثبت نام / ورود</a></li>
                    <li class="has-mobile-submenu-2"><a href="#"> محصولات </a>

                      <ul class="mobile-menu-level-3">
                        <!-- start mobile menu level 3 -->
                        <li><a href="#">محصول موجود</a></li>
                        <li><a href="#">محصول ناموجود</a></li>
                      </ul><!-- start mobile menu level 3 -->

                    </li>
                    <li><a href="/user/profile">پروفایل کاربر</a></li>
                    <li><a href="#">وبلاگ</a></li>
                  </ul><!-- end mobile menu level 2 -->

                </li>
                <li><a href="/main/contact-us">تماس با ما</a></li>
                <li><a href="#">درباره ما</a></li>
              </ul><!-- end mobiile menu level 1 -->

            </div>
          </div><!-- end mobile menu-->
          <img src="/images/logo.png" class="img-fluid"><!-- logo -->
        </div>

        <div class="col-4 d-flex align-items-center justify-content-end">
          <!-- start signup & login dropdown -->
          <div class="dropdown">
            <a href="#" data-bs-toggle="dropdown"><i class="fa fa-user-lock signup-login-icon"></i></a>
            <ul class="dropdown-menu dropdown-menu-custom">
              <!-- start dropdown box -->
              <li class="d-flex">
                <img src="/images/avatar.jpg" class="avatar">
                <div class="ms-2">
                  <a href="/user/profile" class="font-14 text-dark">امیرحسین رضایی</a>
                  <a href="/user/profile" class="font-12 d-block text-info mt-2">مشاهده حساب کاربری <i class="fa fa-chevron-left align-middle mt-1"></i></a>
                </div>
              </li>
              <li>
                <a href="/user/profile" class="login-link"><i class="fa fa-shopping-basket text-muted font-14 me-1"></i> سفارش های من</a>
                <a href="/user/profile" class="login-link"><i class="fa fa-gift text-muted font-14 me-1"></i>جوایز نیک کلاب</a>
                <a href="/auth/logout" class="login-link"><i class="fas fa-sign-out-alt text-muted font-14 me-1"></i>خروج از حساب کاربری</a>
              </li>
            </ul><!-- end dropdown box -->
          </div><!-- end signup & login dropdown -->
        </div>

        <div class="col-1 d-flex align-items-center justify-content-end">
          <!-- start shopping cart responsive-->
          <a href="/shopping/cart" class="position-relative">
            <img src="/images/cart.png">
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart-responsive">
            <!-- start shopping cart offcanvas -->

            <div class="offcanvas-header">
              <!-- start offcanvas header -->
              <p class="offcanvas-title font-12">سبد خرید (4 کالا)</p>
              <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
            </div><!-- end offcanvas header -->

            <div class="offcanvas-body">
              <!-- start cart body -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile1.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile2.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile3.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 عدد</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 تومان</p>
                </div>
              </div><!-- end cart item -->

            </div><!-- end cart body -->

            <div class="row cart-footer">
              <!-- start cart footer-->
              <div class="col-5">
                <p>مبلغ قابل پرداخت:</p>
                <p>12,480,000 تومان</p>
              </div>
              <div class="col-7">
                <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ورود و ثبت سفارش</a>
              </div>
            </div><!-- end cart footer-->

          </div><!-- end shopping cart offcanvas -->
        </div><!-- end shopping cart responsive-->

      </div>
    </div>
  </header><!-- end responsive header-->

  <nav class="d-none d-lg-block navigation">
    <!-- start main menu -->
    <div class="container">
      <ul class="main-menu">
        <li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
          <ul class="row mega-menu">
            <!-- start mega menu-->
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>کالای دیجیتال</li>
                <li><a href="/search">گوشی موبایل</a></li>
                <li><a href="/search">لوازم جانبی گوشی</a></li>
                <li><a href="/search">لپ تاپ</a></li>
                <li><a href="/search">لوازم جانبی لپ تاپ</a></li>
                <li><a href="/search">تبلت</a></li>
                <li><a href="/search">مچ بند و ساعت هوشمند</a></li>
                <li><a href="/search">مودم و تجهیزات شبکه</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>زیبایی و سلامت</li>
                <li><a href="/search">لوازم آرایشی</a></li>
                <li><a href="/search">لوازم بهداشتی</a></li>
                <li><a href="/search">عطر،ادکلن،اسپری و ست</a></li>
                <li><a href="/search">ابزار سلامت و طبی</a></li>
                <li><a href="/search">لوازم شخصی برقی</a></li>
              </ul>
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>مد و پوشاک</li>
                <li><a href="/search">لباس زنانه</a></li>
                <li><a href="/search">لباس مردانه</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>خانه و آشپزخانه</li>
                <li><a href="/search">صوتی و تصویری</a></li>
                <li><a href="/search">لوازم برقی خانگی</a></li>
                <li><a href="/search">فرش ماشینی، دستبافت، تابلو</a></li>
              </ul>
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>اسباب بازی، کودک و نوزاد</li>
                <li><a href="/search">پوشاک کودک و نوزاد</a></li>
                <li><a href="/search">بازی و سرگرمی کودک</a></li>
                <li><a href="/search">سلامت، ایمنی و مراقبت</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>کتاب و لوازم تحریر</li>
                <li><a href="/search">کتاب و مجله</a></li>
                <li><a href="/search">کتاب صوتی</a></li>
                <li><a href="/search">لوازم تحریر</a></li>
              </ul>
              <a href="#" class="d-block"><img src="/images/menu-pic.jpg" class="img-fluid rounded mt-3"></a>
            </li>
          </ul><!-- end mega menu-->
        </li>
        <li><a href="/search">تخفیف‌ها و پیشنهادها</a></li>
        <li class="has-sub-menu"><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
          <ul class="sub-menu">
            <!-- start sub menu-->
            <li><a href="/auth/register">ثبت نام / ورود</a></li>
            <li class="has-sub-menu-level-2"><a href="#">محصولات</a><i class="fa fa-angle-down"></i>
              <ul class="sub-menu-level-2">
                <!-- start sub menu level 2 -->
                <li><a href="#">محصول موجود</a></li>
                <li><a href="#">محصول ناموجود</a></li>
              </ul><!-- end sub menu level 2 -->
            </li>
            <li><a href="/user/profile">پروفایل کاربر</a></li>
            <li><a href="#">وبلاگ</a></li>
            <li><a href="/shopping/cart">سبد خرید</a></li>
          </ul><!-- end sub menu-->
        </li>
        <li><a href="/main/contact-us">تماس با ما</a></li>
        <li><a href="#">درباره ما</a></li>
      </ul>
    </div>
  </nav><!-- end main menu -->

  <section class="main-slider">
    <!-- start main slider -->
    <div id="main-slider" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-slider" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#main-slider" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#main-slider" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#main-slider" data-bs-slide-to="3"></button>
      </div>
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#" target="_blank" class="d-block w-100"><img src="/images/main-slider-1.png" class="d-block w-100"></a>
        </div>
        <div class="carousel-item">
          <a href="#" target="_blank" class="d-block w-100"><img src="/images/main-slider-2.png" class="d-block w-100"></a>
        </div>
        <div class="carousel-item">
          <a href="#" target="_blank" class="d-block w-100"><img src="/images/main-slider-1.png" class="d-block w-100"></a>
        </div>
        <div class="carousel-item">
          <a href="#" target="_blank" class="d-block w-100"><img src="/images/main-slider-2.png" class="d-block w-100"></a>
        </div>
      </div>
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#main-slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#main-slider" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section><!-- end main slider -->

  <main>
    <!-- start main -->
    <div class="container">

      <div class="best-suggestion">
        <!-- start best suggestion slider -->
        <div class="row">
          <div class="col-4 col-lg-2 text-center">
            <img src="/images/best-suggest-1.png" class="best-suggest-pic">
            <a href="/search" class="btn best-suggest-btn">مشاهده همه<i class="fa fa-angle-left ms-1 align-middle"></i></a>
          </div>
          <div class="col-8 col-lg-10">
            <div class="owl-carousel owl-theme best-suggestion-slider">
              <% products.forEach(product => { %>
              <div class="item">

                <!-- start item -->
                <a href="/product/<%= product._id%>" class="d-block">
                  <div class="card border-0 custom-card">
                    <img src="/images/mobile2.jpg" class="slider-pic">
                    <div class="card-body">
                      <p class="font-14 text-dark text-center mt-2"> <%= product.title %> </p>
                      <div class="d-flex justify-content-between px-3">
                        <span class="badge bg-danger text-white rounded-pill font-13">30%</span>
                        <span class="font-13"> <%= product.price %> </span>
                      </div>
                    </div>
                    <div class="card-footer bg-white border-top-0 d-flex justify-content-end w-100 pe-4">
                      <div class="count-down-timer timer" data-minutes-left="60"></div>
                      <i class="far fa-clock me-2"></i>
                    </div>
                  </div>
                </a>
              </div>
              <% }) %>

            </div>
          </div>
        </div>
      </div><!-- end best suggestion slider -->

      <div class="row">
        <!-- start ads -->
        <div class="col-xxl-3 col-xl-3 col-md-3 col-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads1.jpg" class="ads-img"></a></div>
        <div class="col-xxl-3 col-xl-3 col-md-3 col-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads2.jpg" class="ads-img"></a></div>
        <div class="col-xxl-3 col-xl-3 col-md-3 col-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads3.jpg" class="ads-img"></a></div>
        <div class="col-xxl-3 col-xl-3 col-md-3 col-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads4.jpg" class="ads-img"></a></div>
      </div><!-- end ads -->


      <div class="product-slider">
        <!-- start product slider -->
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h4>گوشی موبایل</h4>
            </div>
            <div class="owl-carousel owl-theme custom-product-slider">

              <% products.forEach(product => { %>
              <div class="item">
                <!-- start item -->
                <div class="card border-0 mt-3">
                  <a href="/product/<%= product._id%>" class="d-block w-100"><img src="/images/mobile1.jpg" class="slider-pic"></a>
                  <div class="card-body">
                    <a href="/product/<%= product._id%>" class="product-title"> <%= product.title %> </a>
                    <div class="d-flex justify-content-between">
                      <div class="mt-3 ps-4" style="display: flex; justify-content: space-between;">
                        <% if(product.isAddedToFavorite){ %>
                        <form action="/user/profile/remove-favorites/product/<%=product._id%>" method="post">
                          <button class="btn-1" type="submit">
                            <span class="heart" style="color: #FF0000 !important;"><i class="fas fa-heart"></i></span>
                          </button>
                        </form>
                        <% }else{ %>
                        <form action="/user/profile/add-favorites/product/<%=product._id%>" method="post">
                          <button class="btn-1" type="submit">
                            <span class="heart"><i class="far fa-heart font-14 text-muted me-2"></i></span>
                          </button>
                        </form>
                        <% } %>
                        <span class="random"><i class="fa fa-random font-14 text-muted me-2"></i></span>
                        <form action="/shopping/cart/add-product/<%= product._id %>" method="post">
                          <button class="btn-1" type="submit">
                            <span class="add-to-cart"><i class="fa fa-cart-plus font-13 text-muted"></i></span>
                          </button>
                        </form>
                      </div>
                      <p class="font-13 mt-3 pe-4"> <%= product.price %> </p>
                    </div>
                  </div>
                </div>
              </div><!-- end item -->
              <% }) %>

            </div>
          </div>
        </div>
      </div><!-- end product slider -->

      <div class="row">
        <!-- start ads -->
        <div class="col-xxl-6 col-xl-6 col-md-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads5.gif" class="ads-img"></a></div>
        <div class="col-xxl-6 col-xl-6 col-md-6 mb-3"><a href="#" target="_blank" class="d-block w-100"><img src="/images/ads5.jpg" class="ads-img"></a></div>
      </div><!-- end ads -->

      <div class="category-box">
        <!-- start category box -->
        <h4>دسته‌بندی‌های نیک کالا</h4>
        <div class="row">
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-laptop"></i>
              <p>کالای دیجیتال</p>
              <p class="text-info">+825000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-tools"></i>
              <p> ابزار و تجهیزات </p>
              <p class="text-info">+146000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-tshirt"></i>
              <p>مد و پوشاک</p>
              <p class="text-info">+658000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-baby-carriage"></i>
              <p>کودک و نوزاد</p>
              <p class="text-info">+69000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-shopping-basket"></i>
              <p>کالاهای سوپرمارکتی</p>
              <p class="text-info">+60000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-heartbeat"></i>
              <p>زیبایی و سلامت</p>
              <p class="text-info">+98000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-couch"></i>
              <p>خانه و آشپزخانه</p>
              <p class="text-info">+477000 کالا</p>
            </a></div>
          <div class="col-4 col-md-3 col-lg text-center"><a href="/search"><i class="fas fa-pencil-ruler"></i>
              <p>کتاب و لوازم تحریر </p>
              <p class="text-info">+251000 کالا</p>
            </a></div>
          <div class="col-4 col-md col-lg text-center"><a href="/search"><i class="fas fa-campground"></i>
              <p>ورزش و سفر</p>
              <p class="text-info">+31000 کالا</p>
            </a></div>
        </div>
      </div><!-- end category box -->

      <div class="product-slider">
        <!-- start our suggestion box -->
        <div class="row pb-4">
          <div class="col-12">
            <div class="title">
              <h4>پیشنهاد ما</h4>
            </div>
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-1.webp" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">هندزفری بلوتوثی مدل inpods-12</a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                    </div>
                    <p>153,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-2.webp" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">ادو پرفیوم مردانه مدل ساواج دیور</a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                    </div>
                    <p>270,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-3.webp" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">هدفون بلوتوثی کیو سی وای مدل T13</a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                    </div>
                    <p>620,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-4.webp" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">کفش پیاده روی مردانه مدل Sk005</a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                    </div>
                    <p>470,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-6.jpg" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">ساعت هوشمند مدل DT70 Premium </a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                    </div>
                    <p>3,400,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <div class="d-flex py-3 mx-3 border-bottom">
                  <img src="/images/our-suggest-5.webp" class="our-suggest-pic">
                  <div class="our-suggest-detail flex-grow-1 pt-3">
                    <a href="#" class="our-suggest-title">کنسول بازی سونی مدل Playstation</a>
                    <div class="d-flex my-3 ps-3">
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-warning font-13 me-1"></i>
                      <i class="fa fa-star text-muted font-13 me-1"></i>
                    </div>
                    <p>29,000,000 تومان</p>
                    <a href="#" class="btn btn-info font-12 float-end me-3">جزئیات محصول</a>
                  </div>
                </div>
              </div><!-- end item -->

            </div>
          </div>
        </div>
      </div><!-- end our suggestion box -->

      <div class="product-slider">
        <!-- start brands slider -->
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h4>برندهای ویژه</h4>
            </div>
            <div class="owl-carousel owl-theme custom-product-slider">

              <div class="item">
                <!-- start item -->
                <a href="/search" class="d-block">
                  <div class="card border-0 custom-card mt-3">
                    <img src="/images/brands1.jpg" class="brands-pic">
                  </div>
                </a>
              </div><!-- end item -->

              <div class="item">
                <!-- start item -->
                <a href="/search" class="d-block">
                  <div class="card border-0 custom-card mt-3">
                    <img src="/images/brands2.jpg" class="brands-pic">
                  </div>
                </a>
              </div><!-- end item -->

              <div class="item">
                <!-- start item -->
                <a href="/search" class="d-block">
                  <div class="card border-0 custom-card mt-3">
                    <img src="/images/brands3.jpg" class="brands-pic">
                  </div>
                </a>
              </div><!-- end item -->

              <div class="item">
                <!-- start item -->
                <a href="/search" class="d-block">
                  <div class="card border-0 custom-card mt-3">
                    <img src="/images/brands4.jpg" class="brands-pic">
                  </div>
                </a>
              </div><!-- end item -->

              <div class="item">
                <!-- start item -->
                <a href="/search" class="d-block">
                  <div class="card border-0 custom-card mt-3">
                    <img src="/images/brands5.jpg" class="brands-pic">
                  </div>
                </a>
              </div><!-- end item -->

            </div>
          </div>
        </div>
      </div><!-- end brands slider -->

      <div class="product-slider">
        <!-- start blog box -->
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h4>خواندنی ها </h4>
            </div>
            <div class="row mt-4 px-2">

              <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 mb-3">
                <!-- start item -->
                <a href="#" class="d-block">
                  <div class="card blog-card">
                    <img src="/images/mag-1.jpg" class="blog-img">
                    <div class="card-body">
                      <a href="#">طرز تهیه رولت کرپ با کرم فندق؛ آسان و بدون نیاز به فر</a>
                    </div>
                  </div>
                </a>
              </div><!-- end item -->

              <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 mb-3">
                <!-- start item -->
                <a href="#" class="d-block">
                  <div class="card blog-card">
                    <img src="/images/mag-2.jpg" class="blog-img">
                    <div class="card-body">
                      <a href="#">بررسی خردکن سیلور کرست مدل SLMA مناسب کارهای دم‌دستی</a>
                    </div>
                  </div>
                </a>
              </div><!-- end item -->

              <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 mb-3">
                <!-- start item -->
                <a href="#" class="d-block">
                  <div class="card blog-card">
                    <img src="/images/mag-3.jpg" class="blog-img">
                    <div class="card-body">
                      <a href="#">۱۰ اشتباه که کاربران تازه‌ وارد گوشی‌های اندرویدی مرتکب می‌شوند</a>
                    </div>
                  </div>
                </a>
              </div><!-- end item -->

              <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 mb-3">
                <!-- start item -->
                <a href="#" class="d-block">
                  <div class="card blog-card">
                    <img src="/images/mag-4.jpg" class="blog-img">
                    <div class="card-body">
                      <a href="#">راهنمای خرید بهترین گوشی سامسونگ سری A؛ گزینه‌های ایده‌آل خرید</a>
                    </div>
                  </div>
                </a>
              </div><!-- end item -->

            </div>
          </div>
        </div>
      </div><!-- end blog box -->

    </div>
  </main><!-- end main -->

  <footer>
    <!-- start footer -->
    <div class="container">
      <div class="row footer-svg-icons border-bottom mx-2 py-2">
        <div class="col-6 col-md text-center"><img src="/images/1.svg">
          <p>تحویل اکسپرس</p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/2.svg">
          <p>پشتیبانی 24 ساعته </p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/3.svg">
          <p>پرداخت در محل </p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/4.svg">
          <p>7 روز ضمانت بازگشت کالا</p>
        </div>
        <div class="col-12 col-md text-center"><img src="/images/5.svg">
          <p>ضمانت اصل بودن کالا</p>
        </div>
      </div>
      <div class="row">
        <!-- start footer box -->
        <div class="col-lg-2 col-sm-6 footer-box">
          <p>با نیک کالا </p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">اتاق خبر نیک کالا</a></li>
            <li class="mb-3"><a href="/main/contact-us">فرصت های شغلی</a></li>
            <li class="mb-3"><a href="/main/contact-us">تماس با نیک کالا</a></li>
            <li class="mb-3"><a href="/main/contact-us">درباره نیک کالا</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6 footer-box">
          <p>خدمات مشتریان</p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">پرسش‌های متداول</a></li>
            <li class="mb-3"><a href="/main/contact-us">شرایط استفاده</a></li>
            <li class="mb-3"><a href="/main/contact-us">حریم خصوصی</a></li>
            <li class="mb-3"><a href="/main/contact-us">گزارش تخلف</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 footer-box">
          <p>راهنمای خرید از نیک کالا</p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">نحوه ثبت سفارش</a></li>
            <li class="mb-3"><a href="/main/contact-us">رویه ارسال سفارش</a></li>
            <li class="mb-3"><a href="/main/contact-us">شیوه‌های پرداخت</a></li>
            <li class="mb-3"><a href="/main/contact-us">رویه‌های بازگرداندن کالا</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-sm-6 footer-box">
          <p class="mb-4">همراه ما باشید!</p>
          <div class="social-list">
            <a href="#"><i class="fab fa-instagram social-media"></i></a>
            <a href="#"><i class="fab fa-telegram social-media"></i></a>
            <a href="#"><i class="fab fa-linkedin social-media"></i></a>
            <a href="#"><i class="fab fa-twitter social-media"></i></a>
          </div>
          <p>با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</p>
          <div class="input-group mt-4 mb-5 email-box">
            <input type="email" class="form-control form-control-lg" placeholder="ایمیل شما">
            <button type="submit" class="btn btn-danger font-13 px-3">ارسال</button>
          </div>
        </div>
      </div><!-- end footer box -->
      <div class="row d-none d-sm-block">
        <!-- start app download -->
        <div class="col-12 app-download">
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <img src="/images/footerLogo.png" class="p-2">
              <span class="text-white ms-2"> دانلود اپلیکیشن</span>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-end">
              <a href="#"><img src="/images/bazzar.svg" class="img-fluid me-2 rounded"></a>
              <a href="#"><img src="/images/sib-app.svg" class="img-fluid rounded"></a>
            </div>
          </div>
        </div>
      </div><!-- end app download -->
      <div class="row">
        <!-- start footer details -->
        <div class="col-md-8 col-12 footer-details ps-0">
          <p>فروشگاه اینترنتی نیک کالا، بررسی، انتخاب و خرید آنلاین</p>
          <span>
            نیک کالا به عنوان یکی از قدیمی‌ترین فروشگاه های
            اینترنتی با بیش از یک دهه تجربه،
            با پایبندی به سه اصل، پرداخت در محل، هفت روز ضمانت بازگشت کالا و تضمین اصل‌بودن
            کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی
            ایران تبدیل شود.
          </span>
        </div>
        <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
          <img src="/images/f-1.png" class="footer-detail-pic">
          <img src="/images/f-2.png" class="footer-detail-pic">
        </div>
      </div><!-- end footer details -->
      <div class="row">
        <!-- start copy right -->
        <div class="col-12 copy-right">
          <p>استفاده از مطالب فروشگاه اینترنتی نیک کالا فقط برای مقاصد غیرتجاری و
            با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به یاس دیزاین می‌باشد.
          </p>
          <p> آدرس گیت هاب توسعه دهنده: https://github.com/Reza-Gharedaghi</p>
        </div>
      </div><!-- end copy right -->
    </div>
    <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
  </footer><!-- end footer -->

  <script src="/js/sweetAlert.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.simple.timer.js"></script>
  <script src="/js/script.js"></script>
  <script>
    if ("<%= locals.messages.success %>") {
      swal({
        title: "<%= locals.messages.success %>",
        icon: "success",
        buttons: "تائید",
      })
    } else if ("<%= locals.messages.error %>") {
      swal({
        title: "<%= locals.messages.error %>",
        icon: "error",
        buttons: "تلاش مجدد",
      })
    }
  </script>
</body>

</html>