<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/userList.css" />
  <title>Document</title>
</head>

<body>
  <header>
    <h2>ูฺฉ ฺฉุงูุง</h2>
    <div class="titleHeader">
      <p>ุตูุญู ูุฏุฑุช ฺฉุงุฑุจุฑ ูุง</p>
      <div class="containerInput">
        <form action="/admin/category/user-manage/search-user" method="post" style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
          <input type="text" name="id" placeholder="ุฌุณุชุฌูฺฉุงุฑุจุฑ..." />
          <button type="submit" class="btn-1">
            <img src="/images/search.svg" alt="search.svg" width="23px" height="23px" style="background-color: transparent;" />
          </button>
        </form>
      </div>
    </div>
  </header>
  <main>
    <aside>
      <nav>
        <ul>
          <li>
            <a href="#">ูุฏุฑุช ูุญุตููุงุช</a>
            <img src="/images/trash.svg" alt="trash.svg" />
          </li>
          <li>
            <a href="#">ูุฏุฑุช ฺฉุงุฑุจุฑูุง</a>
            <img src="/images/trash.svg" alt="trash.svg" />
          </li>
          <li>
            <a href="#">ูุฏุฑุช ฺฉุงููุช ูุง</a>
            <img src="/images/trash.svg" alt="trash.svg" />
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <% if(allUsers.length) { %>
      <h2 class="title">ูุณุช ฺฉุงุฑุจุฑูุง</h2>
      <div class="cardUserHAder" style="margin-bottom: 10px">
        <p style="margin-right: -10px;"> ูุณุช </p>
        <p style="margin-right: -70px"> ูุงู </p>
        <p> ุดูุงุฑู ุชูุงุณ </p>
        <p> ุขุฏ </p>
        <p style="margin-left: -20px;">ููุงู</p>
        <p style="margin-left: -50px">ุชุจุฏู ููุงู</p>
        <p>ุญุฐู</p>
      </div>
      <div>
        <% allUsers.forEach(user => { %>
        <div class="cardUser">
          <p> <%= user.listNumber%> </p>
          <p style="font-weight: 700"> <%= user.username%> </p>
          <p> <%= user.phone%> </p>
          <p> <%= user._id %> </p>
          <button class="btnRole">
            <% if(user.role === "ADMIN"){ %>
            ุงุฏูู
            <% }else{ %>
            ฺฉุงุฑุจุฑ
            <% } %>
          </button>
          <% if(user.role === "USER") { %>
          <form action="/admin/category/user-manage/promote/<%= user._id %>" method="post">
            <button class="btnTop" type="submit"> ุชุฑูุน </button>
          </form>
          <% }else { %>
          <form action="/admin/category/user-manage/depose/<%= user._id %>" method="post">
            <button class="btnTop" type="submit"> ุชูุฒู </button>
          </form>
          <% } %>
          <form action="/admin/category/user-manage/ban/<%= user._id %>" method="post" class="form-1">
            <button type="submit" class="btn-1">
              <img src="/images/trash.svg" alt="trash.svg" width="20px" height="20px" />
            </button>
          </form>
        </div>
        <% }) %>
      </div>
      <% }else{ %>
      <h3> ุฏุฑ ุญุงู ุญุงุถุฑ ฺฉุงุฑุจุฑ ุฌูุช ููุงุด ูุฌูุฏ ูุฏุงุฑุฏ ! </h3>
      <% } %>
    </div>
  </main>
  <footer>
    <p>ุขุฏุฑุณ ฺฏุชูุงุจ ุชูุณุนู ุฏููุฏู:</p>
    <span>
      <p style="font-weight: 700">https://github.com/Reza-Gharedaghi</p>
    </span>
  </footer>

  <script src="/js/sweetAlert.js"></script>
  <script>
    if ("<%= locals.messages.success %>") {
      swal({
        title: "<%= locals.messages.success %>",
        icon: "success",
        buttons: "ุชุงุฆุฏ",
      })
    } else if ("<%= locals.messages.error %>") {
      swal({
        title: "<%= locals.messages.error %>",
        icon: "error",
        buttons: "ูุชูุฌู ุดุฏู ๐ฏ",
      })
    }
  </script>
</body>

</html>