<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.rtl.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/asRange.css">
  <link rel="stylesheet" href="/css/style.css">
  <title> ูุฑูุดฺฏุงู ูฺฉ ฺฉุงูุง | ุฌุณุชุฌู</title>
</head>

<body>

  <div class="d-none d-lg-block top-ads">
    <!-- start top ads -->
    <a href="#" target="_blank"><img src="/images/top-ads.jpg"></a>
  </div><!-- end top ads -->

  <header class="w-100 d-none d-lg-block bg-white">
    <!-- start header -->
    <div class="container">
      <div class="row py-2">
        <div class="col-lg-2"><img src="/images/logo.png" alt="Nikkala"></div><!-- logo -->
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <!-- start search box -->
          <div class="input-group search-box">
            <input type="search" class="form-control form-control-lg" placeholder="ุฌุณุชุฌู ุฏุฑ ูฺฉ ฺฉุงูุง">
            <button type="submit" class="btn btn-danger"><img src="/images/search.png"></button>
          </div>
        </div><!-- end search box -->
        <div class="col-lg-3 d-flex align-items-center justify-content-end px-0">
          <!-- start signup & login -->
          <div class="dropdown">
            <%- include("../partials/userStatus.ejs")%>
          </div>
        </div><!-- end signup & login -->
        <div class="col-lg-1 d-flex align-items-center justify-content-center px-0">
          <!-- start shopping cart -->
          <a href="/shopping/cart" class="position-relative">
            <img src="/images/cart.png">
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart">
            <!-- start shopping cart offcanvas -->

            <div class="offcanvas-header">
              <!-- start offcanvas header -->
              <p class="offcanvas-title font-12">ุณุจุฏ ุฎุฑุฏ (4 ฺฉุงูุง)</p>
              <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
            </div><!-- end offcanvas header -->

            <div class="offcanvas-body">
              <!-- start cart body -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile1.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile2.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile3.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

            </div><!-- end cart body -->

            <div class="row cart-footer">
              <!-- start cart footer-->
              <div class="col-5">
                <p>ูุจูุบ ูุงุจู ูพุฑุฏุงุฎุช:</p>
                <p>12,480,000 ุชููุงู</p>
              </div>
              <div class="col-7">
                <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ูุฑูุฏ ู ุซุจุช ุณูุงุฑุด</a>
              </div>
            </div><!-- end cart footer-->

          </div><!-- end shopping cart offcanvas -->
        </div><!-- end shopping cart -->
      </div>
    </div>
  </header><!-- end header -->

  <header class="d-lg-none bg-white w-100">
    <!-- start responsive header-->
    <div class="container">
      <div class="row py-2">

        <div class="col-7">
          <a href="#mobile-menu" data-bs-toggle="offcanvas"><i class="fa fa-bars mobile-menu-icon"></i></a><!-- mobile menu icon -->
          <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="mobile-menu">
            <!-- start mobile menu-->

            <div class="offcanvas-header">
              <!-- start menu header -->
              <img src="/images/logo.png">
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div><!-- end menu header -->

            <div class="offcanvas-body px-0">

              <div class="input-group search-box px-3">
                <!-- start search box -->
                <input type="search" class="form-control form-control-lg" placeholder="ุฌุณุชุฌู ุฏุฑ ูฺฉ ฺฉุงูุง">
                <button type="submit" class="btn btn-danger"><img src="/images/search.png"></button>
              </div><!-- end search box -->

              <ul class="mobile-menu-level-1">
                <!-- start mobile menu level 1 -->
                <li class="has-mobile-submenu"><a href="#">ุฏุณุชู ุจูุฏ ูุญุตููุงุช</a>

                  <ul class="mobile-menu-level-2">
                    <!-- start mobile menu level 2 -->
                    <li class="has-mobile-submenu-2"><a href="#">ฺฉุงูุง ุฏุฌุชุงู</a>

                      <ul class="mobile-menu-level-3">
                        <!-- start mobile menu level 3 -->
                        <li><a href="/search">ฺฏูุด ููุจุงู</a></li>
                        <li><a href="/search">ููุงุฒู ุฌุงูุจ ฺฏูุด</a></li>
                        <li><a href="/search">ุชุจูุช</a></li>
                        <li><a href="/search">ุฏูุฑุจู ุนฺฉุงุณ</a></li>
                      </ul><!-- start mobile menu level 3 -->

                    </li>
                    <li><a href="/search">ุฒุจุง ู ุณูุงูุช</a></li>
                    <li><a href="/search">ูุฏ ู ูพูุดุงฺฉ</a></li>
                    <li><a href="/search">ุฎุงูู ู ุขุดูพุฒุฎุงูู</a></li>
                    <li><a href="/search">ฺฉุชุงุจ ู ููุงุฒู ุชุญุฑุฑ</a></li>
                  </ul><!-- end mobile menu level 2 -->

                </li>
                <li><a href="#">ุชุฎููโูุง ู ูพุดููุงุฏูุง</a></li>
                <li class="has-mobile-submenu"><a href="#">ุตูุญุงุช</a>

                  <ul class="mobile-menu-level-2">
                    <!-- start mobile menu level 2 -->
                    <li><a href="/auth/register">ุซุจุช ูุงู / ูุฑูุฏ</a></li>
                    <li class="has-mobile-submenu-2"><a href="#"> ูุญุตููุงุช </a>

                      <ul class="mobile-menu-level-3">
                        <!-- start mobile menu level 3 -->
                        <li><a href="#">ูุญุตูู ููุฌูุฏ</a></li>
                        <li><a href="#">ูุญุตูู ูุงููุฌูุฏ</a></li>
                      </ul><!-- start mobile menu level 3 -->

                    </li>
                    <li><a href="/user/profile">ูพุฑููุงู ฺฉุงุฑุจุฑ</a></li>
                    <li><a href="#">ูุจูุงฺฏ</a></li>
                  </ul><!-- end mobile menu level 2 -->

                </li>
                <li><a href="/main/contact-us">ุชูุงุณ ุจุง ูุง</a></li>
                <li><a href="#">ุฏุฑุจุงุฑู ูุง</a></li>
              </ul><!-- end mobiile menu level 1 -->

            </div>
          </div><!-- end mobile menu-->
          <img src="/images/logo.png" class="img-fluid"><!-- logo -->
        </div>

        <div class="col-4 d-flex align-items-center justify-content-end">
          <!-- start signup & login dropdown -->
          <div class="dropdown">
            <a href="#" data-bs-toggle="dropdown"><i class="fa fa-user-lock signup-login-icon"></i></a>
            <ul class="dropdown-menu dropdown-menu-custom">
              <!-- start dropdown box -->
              <li class="d-flex">
                <img src="/images/avatar.jpg" class="avatar">
                <div class="ms-2">
                  <a href="/user/profile" class="font-14 text-dark">ุงูุฑุญุณู ุฑุถุง</a>
                  <a href="/user/profile" class="font-12 d-block text-info mt-2">ูุดุงูุฏู ุญุณุงุจ ฺฉุงุฑุจุฑ <i class="fa fa-chevron-left align-middle mt-1"></i></a>
                </div>
              </li>
              <li>
                <a href="/user/profile" class="login-link"><i class="fa fa-shopping-basket text-muted font-14 me-1"></i> ุณูุงุฑุด ูุง ูู</a>
                <a href="/user/profile" class="login-link"><i class="fa fa-gift text-muted font-14 me-1"></i>ุฌูุงุฒ ูฺฉ ฺฉูุงุจ</a>
                <a href="#" class="login-link"><i class="fas fa-sign-out-alt text-muted font-14 me-1"></i>ุฎุฑูุฌ ุงุฒ ุญุณุงุจ ฺฉุงุฑุจุฑ</a>
              </li>
            </ul><!-- end dropdown box -->
          </div><!-- end signup & login dropdown -->
        </div>

        <div class="col-1 d-flex align-items-center justify-content-end">
          <!-- start shopping cart responsive-->
          <a href="/shopping/cart" class="position-relative">
            <img src="/images/cart.png">
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart-responsive">
            <!-- start shopping cart offcanvas -->

            <div class="offcanvas-header">
              <!-- start offcanvas header -->
              <p class="offcanvas-title font-12">ุณุจุฏ ุฎุฑุฏ (4 ฺฉุงูุง)</p>
              <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
            </div><!-- end offcanvas header -->

            <div class="offcanvas-body">
              <!-- start cart body -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile1.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile2.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

              <div class="row">
                <!-- start cart item -->
                <div class="col-4"><img src="/images/mobile3.jpg" class="img-fluid img-thumbnail"></div>
                <div class="col-8 d-flex align-items-center">
                  <a href="product.html" class="cart-product-title">ฺฏูุด ููุจุงู ุณุงูุณููฺฏ ูุฏู Galaxy A21S SM-A217F/DS</a>
                </div>
              </div>
              <div class="row my-3 border-bottom">
                <div class="col-6 d-flex">
                  <span class="number">1 ุนุฏุฏ</span>
                  <span class="color" style="background-color:#d4d4d4;"></span>
                  <i class="fa fa-trash cart-delete-btn"></i>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p class="cart-product-price">4,169,000 ุชููุงู</p>
                </div>
              </div><!-- end cart item -->

            </div><!-- end cart body -->

            <div class="row cart-footer">
              <!-- start cart footer-->
              <div class="col-5">
                <p>ูุจูุบ ูุงุจู ูพุฑุฏุงุฎุช:</p>
                <p>12,480,000 ุชููุงู</p>
              </div>
              <div class="col-7">
                <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ูุฑูุฏ ู ุซุจุช ุณูุงุฑุด</a>
              </div>
            </div><!-- end cart footer-->

          </div><!-- end shopping cart offcanvas -->
        </div><!-- end shopping cart responsive-->

      </div>
    </div>
  </header><!-- end responsive header-->

  <nav class="d-none d-lg-block navigation">
    <!-- start main menu -->
    <div class="container">
      <ul class="main-menu">
        <li class="has-mega-menu"><a href="#"> ุฏุณุชู ุจูุฏ ูุญุตููุงุช <i class="fa fa-angle-down"></i></a>
          <ul class="row mega-menu">
            <!-- start mega menu-->
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ฺฉุงูุง ุฏุฌุชุงู</li>
                <li><a href="/search">ฺฏูุด ููุจุงู</a></li>
                <li><a href="/search">ููุงุฒู ุฌุงูุจ ฺฏูุด</a></li>
                <li><a href="/search">ููพ ุชุงูพ</a></li>
                <li><a href="/search">ููุงุฒู ุฌุงูุจ ููพ ุชุงูพ</a></li>
                <li><a href="/search">ุชุจูุช</a></li>
                <li><a href="/search">ูฺ ุจูุฏ ู ุณุงุนุช ููุดููุฏ</a></li>
                <li><a href="/search">ููุฏู ู ุชุฌูุฒุงุช ุดุจฺฉู</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ุฒุจุง ู ุณูุงูุช</li>
                <li><a href="/search">ููุงุฒู ุขุฑุงุด</a></li>
                <li><a href="/search">ููุงุฒู ุจูุฏุงุดุช</a></li>
                <li><a href="/search">ุนุทุฑุุงุฏฺฉููุุงุณูพุฑ ู ุณุช</a></li>
                <li><a href="/search">ุงุจุฒุงุฑ ุณูุงูุช ู ุทุจ</a></li>
                <li><a href="/search">ููุงุฒู ุดุฎุต ุจุฑู</a></li>
              </ul>
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ูุฏ ู ูพูุดุงฺฉ</li>
                <li><a href="/search">ูุจุงุณ ุฒูุงูู</a></li>
                <li><a href="/search">ูุจุงุณ ูุฑุฏุงูู</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ุฎุงูู ู ุขุดูพุฒุฎุงูู</li>
                <li><a href="/search">ุตูุช ู ุชุตูุฑ</a></li>
                <li><a href="/search">ููุงุฒู ุจุฑู ุฎุงูฺฏ</a></li>
                <li><a href="/search">ูุฑุด ูุงุดูุ ุฏุณุชุจุงูุชุ ุชุงุจูู</a></li>
              </ul>
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ุงุณุจุงุจ ุจุงุฒุ ฺฉูุฏฺฉ ู ููุฒุงุฏ</li>
                <li><a href="/search">ูพูุดุงฺฉ ฺฉูุฏฺฉ ู ููุฒุงุฏ</a></li>
                <li><a href="/search">ุจุงุฒ ู ุณุฑฺฏุฑู ฺฉูุฏฺฉ</a></li>
                <li><a href="/search">ุณูุงูุชุ ุงูู ู ูุฑุงูุจุช</a></li>
              </ul>
            </li>
            <li class="col-3 mega-menu-box">
              <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>ฺฉุชุงุจ ู ููุงุฒู ุชุญุฑุฑ</li>
                <li><a href="/search">ฺฉุชุงุจ ู ูุฌูู</a></li>
                <li><a href="/search">ฺฉุชุงุจ ุตูุช</a></li>
                <li><a href="/search">ููุงุฒู ุชุญุฑุฑ</a></li>
              </ul>
              <a href="#" class="d-block"><img src="/images/menu-pic.jpg" class="img-fluid rounded mt-3"></a>
            </li>
          </ul><!-- end mega menu-->
        </li>
        <li><a href="/search">ุชุฎููโูุง ู ูพุดููุงุฏูุง</a></li>
        <li class="has-sub-menu"><a href="#">ุตูุญุงุช <i class="fa fa-angle-down"></i></a>
          <ul class="sub-menu">
            <!-- start sub menu-->
            <li><a href="/auth/register">ุซุจุช ูุงู / ูุฑูุฏ</a></li>
            <li class="has-sub-menu-level-2"><a href="#">ูุญุตููุงุช</a><i class="fa fa-angle-down"></i>
              <ul class="sub-menu-level-2">
                <!-- start sub menu level 2 -->
                <li><a href="#">ูุญุตูู ููุฌูุฏ</a></li>
                <li><a href="#">ูุญุตูู ูุงููุฌูุฏ</a></li>
              </ul><!-- end sub menu level 2 -->
            </li>
            <li><a href="/user/profile">ูพุฑููุงู ฺฉุงุฑุจุฑ</a></li>
            <li><a href="#">ูุจูุงฺฏ</a></li>
            <li><a href="/shopping/cart">ุณุจุฏ ุฎุฑุฏ</a></li>
          </ul><!-- end sub menu-->
        </li>
        <li><a href="/main/contact-us">ุชูุงุณ ุจุง ูุง</a></li>
        <li><a href="#">ุฏุฑุจุงุฑู ูุง</a></li>
      </ul>
    </div>
  </nav><!-- end main menu -->

  <div class="container">
    <!-- start breadcrumb -->
    <div class="row mt-3">
      <div class="col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">ูุฑูุดฺฏุงู ุงูุชุฑูุช ูฺฉ ฺฉุงูุง</a></li>
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">ฺฉุงูุง ุฏุฌุชุงู</a></li>
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">ฺฏูุด ููุจุงู</a></li>
        </ul>
      </div>
    </div>
  </div><!-- end breadcrumb -->

  <main>
    <!-- start main -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!-- start sidebar -->

          <div class="custom-sidebar">
            <!-- start category filter -->
            <p class="font-12 border-bottom pb-2">ุฏุณุชู ุจูุฏ ูุชุงุฌ</p>
            <ul class="ps-0">
              <li class="mt-2 ms-2"><a href="#" class="font-12"><i class="fa fa-chevron-left me-2 font-11"></i>ฺฉุงูุง ุฏุฌุชุงู </a></li>
              <li class="mt-2 ms-4"><a href="#" class="font-12"><i class="fa fa-chevron-down me-2 font-11"></i>ููุจุงู </a>
                <ul class="ps-0">
                  <li class="mt-2 ms-3 font-12">ฺฏูุด ููุจุงู</li>
                </ul>
              </li>
            </ul>
          </div><!-- end category filter -->

          <div class="custom-sidebar">
            <!-- start search in resullt -->
            <p class="font-12 border-bottom pb-2">ุฌุณุชุฌู ุฏุฑ ูุชุงุฌ</p>
            <div class="search-in-result  position-relative mt-3">
              <form action="/search/demand-product" method="post" style="display: flex;">
                <input type="text" class="form-control" name="productInfo" placeholder=" ูุงู ูุญุตูู ุง ุจุฑูุฏ ููุฑุฏ ูุธุฑ ">
                <button type="submit" style="background-color: transparent;border: 1px solid #ced4da;">
                  <img src="/images/search.svg" alt="search.svg" />
                </button>
              </form>
            </div>
          </div><!-- end search in resullt -->

          <div class="custom-sidebar">
            <!-- start brands fiter -->
            <p class="font-12 border-bottom pb-2">ุจุฑูุฏ</p>
            <div class="mt-3 px-2 brands-select">
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-1">
                <label class="form-check-label font-12" for="brand-1">ุณุงูุณููฺฏ</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-2">
                <label class="form-check-label font-12" for="brand-2">ุดุงุฆูู</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-3">
                <label class="form-check-label font-12" for="brand-3">ููุขู</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-4">
                <label class="form-check-label font-12" for="brand-4">ุขูุฑ</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-5">
                <label class="form-check-label font-12" for="brand-5">ุงูพู</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-6">
                <label class="form-check-label font-12" for="brand-6">ููฺฉุง</label>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="brand-7">
                <label class="form-check-label font-12" for="brand-7">ุฌ ูพูุงุณ</label>
              </div>
            </div>
          </div><!-- end brands fiter -->

          <div class="custom-sidebar">
            <!-- start sidebar switch fiter -->
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="send">
              <label class="form-check-label font-12" for="send">ููุท ุงุฑุณุงู ููุฑ</label>
            </div>
          </div><!-- end sidebar switch fiter -->

          <div class="custom-sidebar">
            <!-- start sidebar switch fiter -->
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="product">
              <label class="form-check-label font-12" for="product">ููุท ฺฉุงูุงูุง ููุฌูุฏ</label>
            </div>
          </div><!-- end sidebar switch fiter -->

          <div class="custom-sidebar">
            <!-- start color fiter -->
            <p class="font-12 border-bottom pb-2">ุงูุชุฎุงุจ ุฑูฺฏ</p>
            <label class="select-color mt-2">
              <span class="color-shape" style="background-color: rgb(252, 13, 13);"></span>
              <input type="radio" name="color">
              <span class="color-name">ูุฑูุฒ</span>
            </label>

            <label class="select-color mt-2">
              <span class="color-shape" style="background-color: rgb(3, 3, 3);"></span>
              <input type="radio" name="color">
              <span class="color-name">ูุดฺฉ</span>
            </label>

            <label class="select-color mt-2">
              <span class="color-shape" style="background-color: rgb(57, 90, 197);"></span>
              <input type="radio" name="color">
              <span class="color-name">ุขุจ</span>
            </label>

            <label class="select-color mt-2">
              <span class="color-shape" style="background-color: rgb(78, 143, 72);"></span>
              <input type="radio" name="color">
              <span class="color-name">ุณุจุฒ</span>
            </label>
          </div><!-- end color fiter -->

          <div class="custom-sidebar">
            <p class="font-12 border-bottom pb-2">ูุญุฏูุฏู ููุช (ุชููุงู)</p>
            <div class="price-slider"></div>
            <button type="submit" class="btn btn-info font-13 w-100 mt-3"><i class="fa fa-filter align-middle font-12 me-2"></i>ููุชุฑ</button>
          </div>

        </div><!-- end sidebar -->

        <div class="col-lg-9">
          <div class="product-items">
            <div class="row">
              <div class="col-12">
                <!-- start sort nav -->
                <ul class="nav nav-pills sort-by">
                  <span class="font-13 mt-2 me-2"> ูุฑุชุจ ุณุงุฒ ุจุฑ ุงุณุงุณ :</span>
                  <li class="nav-item"><a href="#" class="nav-link font-13 active">ูพุฑ ูุฑูุด ุชุฑู</a></li>
                  <li class="nav-item"><a href="#" class="nav-link font-13 text-dark">ูพุฑ ุจุงุฒุฏุฏุชุฑู</a></li>
                  <li class="nav-item"><a href="#" class="nav-link font-13 text-dark">ุฌุฏุฏ ุชุฑู</a></li>
                  <li class="nav-item"><a href="#" class="nav-link font-13 text-dark">ุงุฑุฒุงู ุชุฑู</a></li>
                  <li class="nav-item"><a href="#" class="nav-link font-13 text-dark">ฺฏุฑุงู ุชุฑู</a></li>
                </ul>
              </div><!-- end sort nav -->
            </div>

            <div class="row">
              <% if(allProducts.length) { %>
              <% allProducts.forEach(product => { %>
              <div class="col-lg-4 col-md-6">
                <!-- start item -->
                <a href="/product/<%= product._id %>" class="d-block">
                  <div class="card mt-3">
                    <img src="/images/mobile1.jpg" class="slider-pic">
                    <div class="card-body">
                      <a href="/product/<%= product._id %>" class="product-title"> <%= product.title %> </a>
                      <div class="d-flex justify-content-between">
                        <div class="mt-3 ps-4" style="display: flex; justify-content: space-between;align-items: center;">
                          <% if(product.isAddedToFavorite){ %>
                          <form action="/user/profile/remove-favorites/product/<%=product._id%>" method="post">
                            <button class="btn-1" type="submit">
                              <span class="heart" style="color: #FF0000 !important;"><i class="fas fa-heart"></i></span>
                            </button>
                          </form>
                          <% }else{ %>
                          <form action="/user/profile/add-favorites/product/<%=product._id%>" method="post">
                            <button class="btn-1" type="submit">
                              <span class="heart"><i class="far fa-heart font-14 text-muted me-2"></i></span>
                            </button>
                          </form>
                          <% } %>
                          <span class="random"><i class="fa fa-random font-14 text-muted me-2"></i></span>
                          <form action="/shopping/cart/add-product/<%= product._id %>" method="post">
                            <button class="btn-1" type="submit">
                              <span class="add-to-cart"><i class="fa fa-cart-plus font-13 text-muted"></i></span>
                            </button>
                          </form>
                        </div>
                        <p class="font-13 mt-3 pe-4"> <%= product.price %> </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div><!-- end item -->
              <% }) %>
              <ul class="custom-pagination mt-4">
                <!-- start pagination -->
                <li><a href="#"><i class="fa fa-angle-right align-middle"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-left align-middle"></i></a></li>
              </ul><!-- end pagination -->
              <% }else { %>
              <h5 style="margin-top: 50px;"> ูุญุตูู ุงูุช ูุดุฏ ! </h5>
              <% } %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </main><!-- end main -->

  <footer>
    <!-- start footer -->
    <div class="container">
      <div class="row footer-svg-icons border-bottom mx-2 py-2">
        <div class="col-6 col-md text-center"><img src="/images/1.svg">
          <p>ุชุญูู ุงฺฉุณูพุฑุณ</p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/2.svg">
          <p>ูพุดุชุจุงู 24 ุณุงุนุชู </p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/3.svg">
          <p>ูพุฑุฏุงุฎุช ุฏุฑ ูุญู </p>
        </div>
        <div class="col-6 col-md text-center"><img src="/images/4.svg">
          <p>7 ุฑูุฒ ุถูุงูุช ุจุงุฒฺฏุดุช ฺฉุงูุง</p>
        </div>
        <div class="col-12 col-md text-center"><img src="/images/5.svg">
          <p>ุถูุงูุช ุงุตู ุจูุฏู ฺฉุงูุง</p>
        </div>
      </div>
      <div class="row">
        <!-- start footer box -->
        <div class="col-lg-2 col-sm-6 footer-box">
          <p>ุจุง ูฺฉ ฺฉุงูุง </p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">ุงุชุงู ุฎุจุฑ ูฺฉ ฺฉุงูุง</a></li>
            <li class="mb-3"><a href="/main/contact-us">ูุฑุตุช ูุง ุดุบู</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุชูุงุณ ุจุง ูฺฉ ฺฉุงูุง</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุฏุฑุจุงุฑู ูฺฉ ฺฉุงูุง</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6 footer-box">
          <p>ุฎุฏูุงุช ูุดุชุฑุงู</p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">ูพุฑุณุดโูุง ูุชุฏุงูู</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุดุฑุงุท ุงุณุชูุงุฏู</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุญุฑู ุฎุตูุต</a></li>
            <li class="mb-3"><a href="/main/contact-us">ฺฏุฒุงุฑุด ุชุฎูู</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 footer-box">
          <p>ุฑุงูููุง ุฎุฑุฏ ุงุฒ ูฺฉ ฺฉุงูุง</p>
          <ul class="ps-0">
            <li class="mb-3"><a href="/main/contact-us">ูุญูู ุซุจุช ุณูุงุฑุด</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุฑูู ุงุฑุณุงู ุณูุงุฑุด</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุดููโูุง ูพุฑุฏุงุฎุช</a></li>
            <li class="mb-3"><a href="/main/contact-us">ุฑููโูุง ุจุงุฒฺฏุฑุฏุงูุฏู ฺฉุงูุง</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-sm-6 footer-box">
          <p class="mb-4">ููุฑุงู ูุง ุจุงุดุฏ!</p>
          <div class="social-list">
            <a href="#"><i class="fab fa-instagram social-media"></i></a>
            <a href="#"><i class="fab fa-telegram social-media"></i></a>
            <a href="#"><i class="fab fa-linkedin social-media"></i></a>
            <a href="#"><i class="fab fa-twitter social-media"></i></a>
          </div>
          <p>ุจุง ุซุจุช ุงููุ ุงุฒ ุฌุฏุฏโุชุฑู ุชุฎููโูุง ุจุงโุฎุจุฑ ุดูุฏ</p>
          <div class="input-group mt-4 mb-5 email-box">
            <input type="email" class="form-control form-control-lg" placeholder="ุงูู ุดูุง">
            <button type="submit" class="btn btn-danger font-13 px-3">ุงุฑุณุงู</button>
          </div>
        </div>
      </div><!-- end footer box -->
      <div class="row d-none d-sm-block">
        <!-- start app download -->
        <div class="col-12 app-download">
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <img src="/images/footerLogo.png" class="p-2">
              <span class="text-white ms-2"> ุฏุงูููุฏ ุงูพูฺฉุดู</span>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-end">
              <a href="#"><img src="/images/bazzar.svg" class="img-fluid me-2 rounded"></a>
              <a href="#"><img src="/images/sib-app.svg" class="img-fluid rounded"></a>
            </div>
          </div>
        </div>
      </div><!-- end app download -->
      <div class="row">
        <!-- start footer details -->
        <div class="col-md-8 col-12 footer-details ps-0">
          <p>ูุฑูุดฺฏุงู ุงูุชุฑูุช ูฺฉ ฺฉุงูุงุ ุจุฑุฑุณุ ุงูุชุฎุงุจ ู ุฎุฑุฏ ุขููุงู</p>
          <span>
            ูฺฉ ฺฉุงูุง ุจู ุนููุงู ฺฉ ุงุฒ ูุฏูโุชุฑู ูุฑูุดฺฏุงู ูุง
            ุงูุชุฑูุช ุจุง ุจุด ุงุฒ ฺฉ ุฏูู ุชุฌุฑุจูุ
            ุจุง ูพุงุจูุฏ ุจู ุณู ุงุตูุ ูพุฑุฏุงุฎุช ุฏุฑ ูุญูุ ููุช ุฑูุฒ ุถูุงูุช ุจุงุฒฺฏุดุช ฺฉุงูุง ู ุชุถูู ุงุตูโุจูุฏู
            ฺฉุงูุง ูููู ุดุฏู ุชุง ููฺฏุงู ุจุง ูุฑูุดฺฏุงูโูุง ูุนุชุจุฑ ุฌูุงูุ ุจู ุจุฒุฑฺฏโุชุฑู ูุฑูุดฺฏุงู ุงูุชุฑูุช
            ุงุฑุงู ุชุจุฏู ุดูุฏ.
          </span>
        </div>
        <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
          <img src="/images/f-1.png" class="footer-detail-pic">
          <img src="/images/f-2.png" class="footer-detail-pic">
        </div>
      </div><!-- end footer details -->
      <div class="row">
        <!-- start copy right -->
        <div class="col-12 copy-right">
          <p>ุงุณุชูุงุฏู ุงุฒ ูุทุงูุจ ูุฑูุดฺฏุงู ุงูุชุฑูุช ูฺฉ ฺฉุงูุง ููุท ุจุฑุง ููุงุตุฏ ุบุฑุชุฌุงุฑ ู
            ุจุง ุฐฺฉุฑ ููุจุน ุจูุงูุงูุน ุงุณุช. ฺฉูู ุญููู ุงู ุณุงุช ูุชุนูู ุจู ุงุณ ุฏุฒุงู ูโุจุงุดุฏ.
          </p>
          <p> ุขุฏุฑุณ ฺฏุช ูุงุจ ุชูุณุนู ุฏููุฏู: https://github.com/Reza-Gharedaghi</p>
        </div>
      </div><!-- end copy right -->
    </div>
    <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
  </footer><!-- end footer -->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.simple.timer.js"></script>
  <script src="/js/jquery-asRange.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/price-range-slider.js"></script>
  <script src="/js/sweetAlert.js"></script>
  <script>
    if ("<%= locals.messages.success %>") {
      swal({
        title: "<%= locals.messages.success %>",
        icon: "success",
        buttons: "ุชุงุฆุฏ",
      })
    } else if ("<%= locals.messages.error %>") {
      swal({
        title: "<%= locals.messages.error %>",
        icon: "error",
        buttons: "ูุชูุฌู ุดุฏู ๐ฏ",
      })
    }
  </script>
  <script src="/js/reload-events-search.js"></script>
</body>

</html>